body, html {
  margin: 0;
  height: 100%;
  * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }
}
#left,
#right {
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
  height: 100%;
  position: relative;
}
#left {
  width: 20%;
  background: @brown-200;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 10;
}
#right {
  width: 80%;
  background: @brown-100;
}
.unit {
  border: 1px solid black;
  padding: 15px;

  &.green {
    background: @green-400;
  }
  &.orange {
    background: @orange-400;
  }
  &.red {
    background: @red-400;
  }
  &.dark-grey {
    background: @grey-600;
  }
  h3 {
    margin-top: 0;
  }
}
#heros,
#spells {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px 30px;
  .hero-holder,
  .spell {
    margin: 0 15px;
    width: 20%;
    cursor: pointer;
    transition: .5s;
    &:hover, &:focus, &:active {
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }
  }
  .hero-holder.targeted {
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75);
  }
}
.spell {
  padding: 15px;
  background: @blue-400;
  h3 {
    margin-top: 0;
  }
}
#player {
  #playerStats {
    margin-bottom: 15px;
  }
  #experience {
    position: relative;
    span, .experience-text {
      color: white;
      position: relative;
      z-index: 20;
    }
    .gauge {
      position: absolute;
      left: 0;
      top: 0;
      height: 20px;
      display: block;
      background: @green-400;
      z-index: 10;
    }
  }
}
#mana {
  position: relative;
  margin-bottom: 15px;
  height: 40px;
  padding: 0 15px;

  span, .mana-text {
    color: white;
    position: relative;
    z-index: 20;
    line-height: 40px;
  }
  .gauge {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: block;
    background: @blue-400;
    z-index: 10;
    transition: .5s;
  }
}
#playerTitle {
  h2 {
    margin-right: 10px;
  }
}
#castBar {
  border: 1px solid @blue-600;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 15px;
  height: 40px;
  padding: 0 15px;
  .loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: @blue-600;
    max-width: 100%;
    z-index: 10;
  }
  span {
    position: relative;
    z-index: 20;
    vert-align: middle;
    color: white;
    line-height: 40px;
  }
}
#messageBox {
  &.error {
    background: @red-200;
    color: @red-400;
    * {
      color: @red-400;
    }
  }
  &.warning {
    background: @orange-200;
    color: @orange-400;
    * {
      color: @orange-400;
    }
  }
}
#skillTree {
  margin-top: 30px;
}
.tabs-holder {
  .tab-items {
    .tab-item {
      display: inline-block;
      padding: 2px 5px;
      &.active {
        background: white;
        border-bottom: 0;
      }
    }
  }
  .tabs {
    background: white;
    .tab {
      padding: 5px 15px;
      display: none;
      &:first-child {
        display: block;
      }
    }
  }
}
.statBtn {
  display: inline-block;
  background: white;
  line-height: 20px;
  width: 20px;
  text-align: center;
  cursor: pointer;
  &:hover, &:focus, &:active {
    background: red;
  }
}
#statPoints {
  .info-btn,
  .plus-btn {
    .statBtn;
  }
  .stats {
    margin: 0 -5px;
  }
  .stat td {
    padding: 5px 5px;
  }
  .info-btn {
    position: relative;
    span {
      position: relative;
      z-index: 10;
    }

    .info-text {
      position: absolute;
      display: none;
      background: white;
      width: 200px;
      padding: 10px 15px;
      border: 1px solid black;
      z-index: 20;
    }
    &:hover, &:focus, &:active {
      .info-text {
        display: block;
      }
    }
  }
}